.idea
.ebextensions
conf
marmelade.js
node_modules
bu
font
bower_components
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
package-lock.json