Resources:
#  sslSecurityGroupIngress:
#    Type: AWS::EC2::SecurityGroupIngress
#    Properties:
#      GroupName: {"Ref" : "AWSEBSecurityGroup"}
#      # GroupId: {"Ref" : "AWSEBSecurityGroup"}
#      IpProtocol: tcp
#      ToPort: 443
#      FromPort: 443
#      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDiDCCAnACCQDgCNa/nG92DzANBgkqhkiG9w0BAQUFADCBhTELMAkGA1UEBhMC
      VVMxDjAMBgNVBAgTBVRleGFzMQ8wDQYDVQQHEwZBdXN0aW4xFTATBgNVBAoTDFNl
      cnZpY2VNZWRpYTEZMBcGA1UEAxMQc2VydmljZW1lZGlhLm5ldDEjMCEGCSqGSIb3
      DQEJARYUcG9seXRyb3BvaUBnbWFpbC5jb20wHhcNMTUxMTA3MTY1MTM2WhcNMTYx
      MTA2MTY1MTM2WjCBhTELMAkGA1UEBhMCVVMxDjAMBgNVBAgTBVRleGFzMQ8wDQYD
      VQQHEwZBdXN0aW4xFTATBgNVBAoTDFNlcnZpY2VNZWRpYTEZMBcGA1UEAxMQc2Vy
      dmljZW1lZGlhLm5ldDEjMCEGCSqGSIb3DQEJARYUcG9seXRyb3BvaUBnbWFpbC5j
      b20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCmk9kYB78xX1/VS2pH
      b71h+YRBQoJE9BNP3+qTobNZ1M5JgATzUfwEfm9cW05lBRmw0Cg0mvuO3/eFfg7Y
      vq+8yF3+UGz71DuZQ1Z734obJ2tPm2Pg9Dpd+OYJhvTHsULBQ1maZ0D60jamaeTV
      WzQSDbUYriidXpglxtIaQIRJnliBOpZY/Zzp945xUkBRlQhrybcY03fAmbpeDbZG
      U6Uwb99IN375fqu74j0AcbBI817ODZgL50EYpLUK7mSPp7IJvRm+qNK+u1gn2PCq
      IuDXTfRM7S9zC65q8avXbAJNMH1+Qmh0SMSdAmCEztqKmHG+TnjlznYaFPzQF0Lp
      eXWPAgMBAAEwDQYJKoZIhvcNAQEFBQADggEBAESBuR+CDymlSWq+BoMyHkR1Whm6
      BCZr+ZfGkZREGbGZYb5RrIT+sqpXf5DwWCGSTPzaC2iH6rSGqhBnWnlE/whk1xuy
      g47URxLw7Owum2jm8UB+WxMs+jSVc0hdeyatspdZt0tAv696l7bvbogUoFiTryJX
      PFoaQVRZvhkzdhaNNdsloIuCC9AVS4cZSOykhz4sOEmqIoEipThVH7X6O3S3ulfB
      PwS9cfrGimdQU4hFatOxCe4+ZrVjvSQ0o7RT8hsJIcmenc119knZX0+AB0bNVr3D
      syLCwRLMsE/jh0A/EY/Z5ERcRtG92uGp2dUQkrafNDxSZPvSN8D+aJmUNug=
      -----END CERTIFICATE-----


  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAppPZGAe/MV9f1UtqR2+9YfmEQUKCRPQTT9/qk6GzWdTOSYAE
      81H8BH5vXFtOZQUZsNAoNJr7jt/3hX4O2L6vvMhd/lBs+9Q7mUNWe9+KGydrT5tj
      4PQ6XfjmCYb0x7FCwUNZmmdA+tI2pmnk1Vs0Eg21GK4onV6YJcbSGkCESZ5YgTqW
      WP2c6feOcVJAUZUIa8m3GNN3wJm6Xg22RlOlMG/fSDd++X6ru+I9AHGwSPNezg2Y
      C+dBGKS1Cu5kj6eyCb0ZvqjSvrtYJ9jwqiLg1030TO0vcwuuavGr12wCTTB9fkJo
      dEjEnQJghM7aiphxvk545c52GhT80BdC6Xl1jwIDAQABAoIBABoceN5EcJrrqVkE
      7k7uXBBcjXexVjw6ykAuCFZF9ZgyPHfXAm+lvUxzCT+/7ET3jLRjnLnKRX566xDY
      1rjxAxkji2BO+RZsiT8YCBl4y+w/vJmI8RoVDoUme+Cob/xRc/ZZeVUztELc6sYh
      OUacekgOMAIDYshwSIc7aDnHPTVQxS6sa9JrZkboIkGqurnQwnDw/z/lK7APGRD/
      YEhpjRyUcV2im8HOeXPKTlKOgDV/n7JT0GJ0qGYw/BDXZECmfHzYfMH0JM0JVlZX
      uY1LsCXoEsd4ntg3TZqvvMePsW3ELEWQ5lWRT+sgfGwuxJdk1dIcqa9FQSeyn2B0
      9E3AGWECgYEA0EfZL1gR7pnpNfjj04mzt1FEHE4d+5QwebbKm0rg134niDtVCqNe
      +F2OqZa78Jx6pbgkDVPaYixtBOcsKjSjFtz1qv20xFh5PRimZQgVL+92NSioHvRB
      HL6Q/MB9mpFGYK8FDOuxaNxWaDkOIOrCPTSD8lIQx9VHOPzZoNpZ498CgYEAzL4D
      UXO4WpmPE59OcXO9OgkRMzQPFOzrzb8Mph04AUCCp0owC2oHZcMO0dC1G02uZShD
      7soqdD7KtTPlMBzMzrm5tjZgnM+dgHcvjsW7hQ6cvqE1CIAImT/LR13KhWbl//WD
      FdixI1+TFhutkUZ9L84IuvXAaUrQoPxGdeijJFECgYEAuPT0wvw8gFwhIxKwjmuc
      MlByYYhlS8GfApb2eM0XuYWH6Yx2yomljnzWcXcv0k3DBGLvcP5j0gaNkWsQZzJz
      GZyCdKPz4OCIWV8IdHOnDPhjSnWeRk61e6cm7ayqXZZgnv8NRxoOY4Y3HTp9d3HB
      p8R437lMuYiGRO8U+6irZpUCgYEApqqC/vopdy8LpliHPZmOz0B0TO8y28DlT04X
      WN3uKi6+bLnalGASd4cqeCfiVcCNl3EIo8jUeF5pGsqM5fZ7zkin4akwSlZDi0D6
      aMmTlYPImvGVvz6iQUYKDyVNZ/zUe+D6fX0w7W+ux09uohT0cUbSGodUwyGQ5YuX
      PAJNU5ECgYEArYZPl4g52RsDmd5p9aMc7LEkaSEcVgM4/t8onyw1fRaHDmMPaerB
      5VQ9yWngOmae+xUA7NTEDLvQcu2uJHxbmlifWBcuzHPke/XaoMpUSkEsBtDNl4n9
      BAdesky8l49nqLUwxhN2fBFjozCgMBWNkeJYesszg+SpW0ChyLvolrc=
      -----END RSA PRIVATE KEY-----